<!-- Navbar -->
<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid d-flex align-items-center justify-content-between">
      <!-- Images/Logo in the navbar -->
      <div class="d-flex">
        <a class="navbar-brand" href="#">
          <img src="assets/painted-home1.png" alt="Logo 1" class="navbar-logo" />
        </a>
        <a class="navbar-brand" href="#">
          <img src="assets/logo3.png" alt="Logo 2" class="navbar-logo" />
        </a>
      </div>
    </div>
  </nav>
  
  <!-- Login Page -->
  <div class="login-page" style="margin-top: 80px;">
    <div class="login-container">
      <div class="card shadow-lg p-4">
        <h2 class="text-center mb-4">Login</h2>
  
        <!-- Mobile Input and Get OTP Button -->
        <div *ngIf="!otpSent">
          <form (ngSubmit)="getOTP()">
            <div class="mb-3">
              <label for="mobile" class="form-label">Mobile</label>
              <input
                type="text"
                id="mobile"
                maxlength="10"
                oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10);"
                class="form-control"
                [(ngModel)]="mobile"
                name="mobile"
                placeholder="Enter your mobile"
                required
                (input)="handleMobileChange()"
              />
              <p *ngIf="errorMessage" class="text-danger text-center mt-3">{{ errorMessage }}</p>

              <button type="submit" class="btn btn-primary btn-aultra-paints w-100" [disabled]="mobile.length !== 10 || loading">
                Get OTP
              </button>
            </div>
          </form>
        </div>
  
        <!-- OTP Input Field (Visible after OTP is sent) -->
        <div *ngIf="otpSent">
          <form (ngSubmit)="login()">
            <div class="mb-3">
              <label for="otp" class="form-label">OTP</label>
              <input type="text" id="otp" maxlength="6" class="form-control" [(ngModel)]="otp" name="otp"
                placeholder="Enter OTP" required />
            </div>
            <p *ngIf="errorMessage" class="text-danger text-center mt-3">{{ errorMessage }}</p>
              <p *ngIf="otpSuccessMessage" class="text-success text-center mt-3">{{ otpSuccessMessage }}</p>
            <button type="submit" class="btn btn-primary btn-aultra-paints w-100" [disabled]="!otp || loading">
              Verify OTP
            </button>
          </form>
        </div>
  
        <p class="mt-3 text-center">
          Don't have an account? <a routerLink="/register">Register here</a>
        </p>
      </div>
    </div>
  </div>
  