<!-- Navbar (below the sidebar) -->
<nav class="navbar fixed-top">
    <div class="d-flex">
        <div class="navbar-brand mx-4">
            <img src="assets/img/app_logo.png" alt="Logo" style="height: 40px;">
        </div>
    </div>
</nav>

<div class="container container-mt shadow-sm" style="margin-top: 5rem;">
    <h3 style="text-align: center">Privacy Policy</h3>
    <p>
        We collect information about you when you visit our site, use our services, or view our online advertisements.
        The information that we collect and store during normal use of the site is used to monitor use of the site and
        to help further development of our services. In general, you can visit Aultra Paints Private Limited website on the Internet without
        telling us who you are or providing data that personally identifies you. Such use does not result in any
        personally identifiable data being collected or stored.
    </p>


    <h5>Privacy Statement</h5>
    <p>
        Protecting your privacy and ensuring that your personal data is held securely is very important to Aultra Paints Private Limited.
        We want you to be confident that we are looking after your interests and that is why we have set out
        our information practices in this Privacy Statement.
    </p>
    <p>
        We do not share your information with third parties, unless we need to share your information to provide
        service you have requested and we have asked for and obtained your explicit consent. The foregoing
        notwithstanding, if (1) disclosure was required by law, rule or regulation or was in response to a
        valid order of a court or authorized agency of government or other legal process and/or; (2) When we find
        your action on the website violates Aultra Paints Private Limited terms and conditions or any of your usage guidelines for services.
    </p>
    <p>
        This Privacy Statement will apply when you use our website to discover more information about Aultra Paints Private Limited .
        This Privacy Statement is applicable to data collected by Aultra Paints Private Limited.
    </p>
    <p>
        Whilst any application, request or enquiry you make, may be passed or made available to Aultra Paints Private Limited affiliates
        some of which will be based in countries that do not have data protection laws, all Aultra Paints Private Limited affiliates
        are required to comply with an internal Privacy Policy which requires that steps are taken to protect your
        personal data and for it to only be used for the purpose(s) for which it was submitted.
    </p>
    <p>
        By submitting your personal data through this website, you shall be consenting to it being processed in
        the manner described above by Aultra Paints Private Limited and its parent company.
    </p>
    <p>
        If you have submitted personal data through this website and wish us to cease using it for the purposes
        submitted, please contact us using the contact details given in the appropriate sections of the site.
    </p>

    <h5>Contacting us</h5>
    <p>
        Aultra Paints Private Limited regularly reviews its compliance with this Privacy Statement. Please feel free to direct any questions
        or concerns regarding this Privacy Statement or our treatment of personal data and information by completing
        our web contact form or by writing to us at the following addresses:
    </p>

    <h6>Registered Office:</h6>
    <p>Aultra Paints Private Limited is H.NO.5-5-35/134/1,PLOT NO.168 PRASANTH NAGAR, KUKATPALLY, HYDERABAD, Telangana, India - 500072.</p>

    <h5>Changes to this Policy</h5>
    <p>Aultra Paints Private Limited may edit this policy from time to time. If we make substantial changes, we will notify you by posting a prominent announcement on this website.</p>
</div>