/* Sidebar styles */
.sidebar {
    width: 250px;
    position: fixed; /* Position sidebar fixed at the left */
    top: 67px;
    left: 0;
    bottom: 0;
    background-color:#2C3E50;
    color: white;
    transition: width 0.3s ease-in-out;
    box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, .15) !important;
    z-index: 100; /* Initially lower z-index */
}

.sidebar.collapsed {
    width: 70px; /* Collapsed sidebar width */
    position: fixed; /* Keep fixed when collapsed */
    z-index: 100; /* Keep it behind the navbar */
}

.sidebar.expanded {
    position: fixed; /* Use absolute positioning when expanded */
    z-index: 105; /* Make sure the sidebar appears above the navbar */
}

.sidebar .sidebar-header {
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar .nav-item {
    /*padding: 15px 18px;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*cursor: pointer;*/
    /*border-bottom: 2px solid #19232c;*/
}

.sidebar .nav-item .menu {
    padding: 15px 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
    /*border-bottom: 2px solid #19232c;*/
}

.sidebar .nav-item .menu:hover {
    background-color: #19232c;
}

.sidebar .nav-item ul li {
    padding: 15px 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
    /*border-bottom: 2px solid #19232c;*/
}

.sidebar .nav-item ul li:hover {
    background-color: #19232c;
}

.custom-menu-arrow {
    position: absolute;
    /*top: 15px;*/
    bottom: 8px;
    left: 85px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: transparent transparent #19232c transparent;
}

.sidebar .logout-link {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

/* Content area */
.content {
    /*overflow: auto;*/
    /*max-height: 100vh;*/
    margin-left: 290px;
    margin-top: 100px;
    margin-right: 20px;
    transition: margin-left 0.3s ease-in-out, margin-top 0.3s ease-in-out;
}

.content.collapsed {
    margin-left: 85px;
}

/* Navbar styles */
.navbar {
    /*margin-left: 60px; !* Ensure the navbar starts below the sidebar *!*/
    z-index: 50;
    margin-top: 0;
    position: fixed;
    background-color: 
    #f7f6fb;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15) !important
    /*border: 2px solid #19232c;*/
}

.navbar-brand {
    /*font-weight: bold;*/
    padding: 0 30px !important;
    /*border-right: 2px solid #19232c*/
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: inherit;
}

.submenu {
    height: 0;
    overflow: auto;
}

.sub-menu-active-height {
    height: auto;
}

