<!-- Navbar (below the sidebar) -->
<nav class="navbar fixed-top">
    <div class="d-flex">
           <!-- Logo before the toggle button -->
     <div class="navbar-brand">
        <img src="\assets\Aultrapaints_logo (1).png" alt="Logo" style="height: 50px; width:100px;">
    </div>

        <!-- Sidebar Toggle Button -->
        <button class="sidebar-toggle-btn navbar-toggler" (click)="toggleSidebar()" style="border: none; background: transparent;">
            <i class="bx px-2" [ngClass]="isSidebarCollapsed ? 'bx-menu' : 'bx-x'" style="font-size: 20px; color: #2C3E50"></i>
        </button>
    </div>
   <div class="d-flex">
    <div style="color:#000000; padding: 0 30px">
        {{ currentUser.fullName | uppercase }}
    </div>
</div>

</nav>

<div class="dashboard-container">
    <!-- Sidebar (above the navbar) -->
    <div class="sidebar" [ngClass]="{ 'collapsed': isSidebarCollapsed, 'expanded': !isSidebarCollapsed }">
        <ul class="nav flex-column app-menu" *ngIf="currentUser.accountType !== 'SuperUser'">
            <!-- Dashboard List -->
            <li class="nav-item" (click)="navigateTo('dashboard')">
                <div class="menu">
                    <i class="bx px-2 bxs-dashboard" style="font-size: 20px;" title="Dashboard"></i>
                    <span *ngIf="!isSidebarCollapsed" style="border-left: 1px solid #ccc" class="px-2">Dashboard</span>
                </div>
            </li>
        </ul>
        <ul class="nav flex-column app-menu" *ngIf="currentUser.accountType === 'SuperUser'">
            <!-- Dashboard List -->
            <li class="nav-item" (click)="navigateTo('dashboard')">
                <div class="menu">
                    <i class="bx px-2 bxs-dashboard" style="font-size: 20px;" title="Dashboard"></i>
                    <span *ngIf="!isSidebarCollapsed" style="border-left: 1px solid #ccc" class="px-2">Dashboard</span>
                </div>
            </li>

            <!--Batch-list-->
            <li class="nav-item" (click)="navigateTo('batch-list')">
                <div class="menu">
                    <i class="bx px-2 bxs-notepad" style="font-size: 20px;" title="Batches"></i>
                    <span *ngIf="!isSidebarCollapsed" style="border-left: 1px solid #ccc" class="px-2">Batches</span>
                </div>
            </li>

            <!-- Transactions -->
            <li class="nav-item" (click)="navigateTo('transactions')">
                <div class="menu">
                    <i class="bx px-2 bxs-coupon" style="font-size: 20px;" title="Coupons"></i>
                    <span *ngIf="!isSidebarCollapsed" style="border-left: 1px solid #ccc" class="px-2">Coupons</span>
                </div>
            </li>

            
            <li class="nav-item treeview">
                <div class="menu" (click)="toggle()">
                    <i class="bx px-2 bxs-cog" style="font-size: 20px;" title="Masters"></i>
                    <span *ngIf="!isSidebarCollapsed" style="border-left: 1px solid #ccc" class="px-2">Masters</span>
                    <span style="position: relative;">
                        <i class="bx px-2 bxs-chevron-down custom-menu-arrow" *ngIf="active" style="font-size: 20px;"></i>
                        <i class="bx px-2 bxs-chevron-right custom-menu-arrow" *ngIf="!active" style="font-size: 20px;"></i>
                    </span>
                </div>
                <ul class="submenu" [ngClass]="active ? 'sub-menu-active-height' : '0'">
                    <!-- User List (New Item) -->
                    <li class="nav-item" (click)="navigateTo('user-list')">
                        <i class="bx px-2 bx-user-circle" style="font-size: 20px;" title="Users"></i>
                        <span *ngIf="!isSidebarCollapsed" style="border-left: 1px solid #ccc" class="px-2">Users</span>
                    </li>

                    <!-- Product List (new item) -->
                    <li class="nav-item" (click)="navigateTo('product-list')">
                        <img class="px-2" src="/assets/img/product_w.png" alt="Logo" style="height: 20px;" title="Product">
                        <span *ngIf="!isSidebarCollapsed" style="border-left: 1px solid #ccc" class="px-2">Product</span>
                    </li>

                    <!-- Brand List (New Item) -->
                    <li class="nav-item" (click)="navigateTo('brand-list')">
                        <div style="display: flex">
                            <img class="px-2" src="/assets/img/brand_w.png" alt="Logo" style="height: 20px;" title="Brand">
                            <span *ngIf="!isSidebarCollapsed" style="border-left: 1px solid #ccc" class="px-2">Brand</span>
                        </div>
                    </li>

                    <!--product-offers-->
                    <li class="nav-item" (click)="navigateTo('product-offers')">
                        <div style="display: flex">
                            <img class="px-2" src="/assets/img/Product_Offers_w.png" alt="Logo" style="height: 20px;" title="Product Offers">
                            <span *ngIf="!isSidebarCollapsed" style="border-left: 1px solid #ccc" class="px-2">Product Offers</span>
                        </div>
                    </li>

                   <!--reward-schemes-->
                    <li class="nav-item" (click)="navigateTo('reward-schemes')">
                        <div style="display: flex">
                            <img class="px-2" src="/assets/img/Reward_Schemes_w.png" alt="Logo" style="height: 20px;" title="Reward Schemes">
                            <span *ngIf="!isSidebarCollapsed" style="border-left: 1px solid #ccc" class="px-2">Reward Schemes</span>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>


        <!-- Sidebar Footer -->
        <div class="sidebar-footer" (click)="logout()">
            <div class="sidebar-link">
                <i class="bx px-2 bx-log-out" title="Logout"></i><span *ngIf="!isSidebarCollapsed" style="border-left: 1px solid #ccc"
                                                        class="px-2">Logout</span>
            </div>
        </div>
    </div>

    <!-- Main Content Area (includes navbar and router outlet) -->
    <main class="content" [ngClass]="{ 'collapsed': isSidebarCollapsed }">
        <router-outlet></router-outlet>
    </main>
</div>
