
  /* Button Styling */
  /*button {*/
  /*  margin: 5px; */
  /*}*/

  .d-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

.col-sm-3 {
    width: auto; 
}

/*button {*/
/*    margin-left: 50px; */
/*}*/

.table-wrapper {
    margin-top: 10px;
}
