
  /* Button Styling */
  button {
    margin: 5px; /* Add space between buttons */
  }

  .d-flex {
    display: flex;
    justify-content: flex-end; /* Aligns both elements to the right */
    align-items: center; /* Vertically centers the elements */
}

.col-sm-3 {
    width: auto; 
}

button {
    margin-left: 50px; 
}

.table-wrapper {
    margin-top: 10px;
}
