<div class="container-fluid container-mt shadow-sm">
    <div>
        <h4>Products</h4>
        
        <div class="d-flex justify-content-end align-items-center" style="margin-top: -30px;">
            <!-- Search Box aligned to the right -->
            <div class="col-sm-3 mr-3">
                <input [(ngModel)]="searchQuery" (input)="searchProducts()" placeholder="Search Product Name" class="form-control" />
            </div>
    
            <!-- Add Product Button aligned to the right (same line as Search Box) -->
            <div>
                <button class="btn btn-primary" (click)="addProduct(productModal)">Add Product</button>
            </div>
        </div>
    

        <div class="table-wrapper">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">S.NO</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let product of products; let i = index">
                    <td>{{ (currentPage - 1) * limit + i + 1 }}</td>
                    <td>{{ product.name }}</td>
                    <td>
                        <button (click)="editProduct(product, productModal)" class="btn btn-warning" title="Update">
                            <i class="bx bx-edit"></i>  <!-- Edit icon -->
                        </button>
                        <button (click)="deleteProduct(product._id)" class="btn btn-danger" title="Delete">
                            <i class="bx bx-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="products.length === 0">
                    <td class="text-center" colspan="3">No Records found</td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Pagination Controls -->
        <div class="d-flex justify-content-end">
            <div class="pagination-controls">
                <button (click)="prevPage()" [disabled]="currentPage === 1" class="btn btn-light">Previous</button>
                <span style="margin: 0 10px;">Page {{ currentPage }} of {{ totalPages }}</span>
                <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="btn btn-light">Next</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Add/Edit Product -->
<ng-template #productModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ currentProduct._id ? 'Edit' : 'Add' }} Product</h4>
    </div>
    <div class="modal-body">
        <div class="form-group mb-4">
            <label for="productName">Product Name</label>
            <input type="text" class="form-control" id="productName" [(ngModel)]="currentProduct.name" name="name"
                   required placeholder="Enter product name"/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveProduct(); modal.close()">Save</button>
    </div>
</ng-template>
