<div class="container-fluid container-mt shadow-sm">
  <div class="row mb-4">
    <div class="col-sm-2"><h4>Products</h4></div>
    <div class="col-sm-10">
      <div class="d-flex justify-content-end align-items-center">
        <div class="mx-3">
          <input [(ngModel)]="searchQuery" (input)="searchProducts()" placeholder="Search Product Name" class="form-control" />
        </div>
        <button class="btn btn-primary" (click)="addProduct(productModal)">Add Product</button>
      </div>
    </div>
  </div>

  <div class="table-wrapper">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">S.NO</th>
          <th scope="col">Product Name</th>
          <th scope="col">Brand Name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index">
          <td>{{ (currentPage - 1) * limit + i + 1 }}</td>
          <td>{{ product.products }}</td>
          <td>{{ product.BrandNameStr }}</td>
          <td>
            <button (click)="editProduct(product, productModal)" class="btn btn-warning mx-2" title="Update Product">
              <i class="bx bx-edit"></i>
            </button>
            <button (click)="deleteProduct(product._id)" class="btn btn-danger mx-2" title="Delete Product">
              <i class="bx bx-trash"></i>
            </button>
          </td>
        </tr>
        <tr *ngIf="products.length === 0">
          <td class="text-center" colspan="4">No Records found</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination Controls -->
  <div class="row">
    <div class="col-sm-12 text-right">
      <div class="d-flex justify-content-end">
        <select [(ngModel)]="limit" (change)="handleLimitChange()" class="form-select mx-2" style="width:100px; margin-bottom: 16px">
          <option *ngFor="let limitOption of limitOptions" [value]="limitOption">{{ limitOption }}</option>
        </select>

        <ngb-pagination class="mx-2"
                        [(page)]="currentPage"
                        [pageSize]="limit"
                        [collectionSize]="totalProducts"
                        [boundaryLinks]="true"
                        (pageChange)="handlePageChange($event)"
                        [maxSize]="5">
        </ngb-pagination>
      </div>
    </div>
  </div>

 
  <!-- Modal for Add/Edit Product -->
<ng-template #productModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ currentProduct._id ? 'Edit' : 'Add' }} Product
    </h4>
  </div>
  <div class="modal-body">
    <form #productForm="ngForm" class="modal-box shadow-sm" (ngSubmit)="saveProduct(modal)">

        <!-- Brand Dropdown -->
      <div class="form-group mb-4">
        <label for="brand">Brand <span class="text-danger">*</span></label>
        <select class="form-select"
        id="brand"
        name="brandId"
        [(ngModel)]="currentProduct.brandId"
        required>
  <option value="" disabled selected>Select a brand</option>
  <option *ngFor="let brand of brands" [value]="brand._id">{{ brand.name }}</option>
</select>

        <div *ngIf="submitted && !currentProduct.brand" class="text-danger">
          Brand is required.
        </div>
      </div>
      
      <!-- Product Name -->
      <div class="form-group mb-4">
        <label for="productName">Product Name <span class="text-danger">*</span></label>
        <input type="text"
               class="form-control"
               id="productName"
               [(ngModel)]="currentProduct.products"
               name="products"
               required
               placeholder="Enter product name"
               #productName="ngModel"/>
        <div *ngIf="submitted && productName.invalid" class="text-danger">
          Product name is required.
        </div>
      </div>

      <!-- Display backend validation errors -->
      <div *ngIf="errors.length > 0" class="text-danger mt-2">
        <ul>
          <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
    <button type="submit" class="btn btn-primary" (click)="saveProduct(modal)">Save</button>
  </div>
</ng-template>
