<div class="container-fluid my-4">
    <div class="row">
        <div class="col-sm-2"><h4>Product Offers</h4></div>
        <div class="col-sm-10">
            <div class="d-flex justify-content-end align-items-center">
                <div class="mx-3">
                    <input type="text" [(ngModel)]="productOffersQuery.searchQuery" (input)="loadProductOffers()" placeholder="Search..."
                           class="form-control "/>
                </div>
                <button (click)="addOrEditOffer(productModal, currentOffer)" class="btn btn-primary">Add Product Offer</button>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid my-4">
    <div class="d-flex flex-wrap" style="height: 76vh; overflow: auto" *ngIf="productOffers.length > 0">
        <div class="card shadow-sm product-offers-card mx-2 mb-3" *ngFor="let offer of productOffers; let i = index, let l = last">
    <!--        <img *ngIf="offer.productOfferImageUrl" [src]="offer.productOfferImageUrl" class="card-img-top" alt="Image" width="512" style="padding: 1rem">-->
            <img *ngIf="offer.productOfferImageUrl" [src]="offer.productOfferImageUrl + '?t=' + timestamp" class="card-img-top" alt="Image">
            <img *ngIf="!offer.productOfferImageUrl" src="/assets/img/Product_Offers_c.png" class="card-img-top" alt="Image">
            <div class="card-body" style="text-align: left">
                <!-- <h6 class="card-title">{{ offer.productOfferTitle }}</h6> -->
                <h6 class="card-title">{{ offer.productOfferDescription }}</h6>
                <p class="card-text">{{ offer.validUntil | date }}</p>
                <p class="card-text" *ngIf="offer.cashback">Cashback: {{ offer.cashback}}</p>
                <p class="card-text" *ngIf="offer.redeemPoints">Redeem Points: {{ offer.redeemPoints }}</p>

                <div class="mt-auto d-flex justify-content-between align-items-center">
                    <span class="badge rounded-pill bg-success me-2" [class.bg-danger]="offer.productOfferStatus === 'Inactive'">{{ offer.productOfferStatus }}</span>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" [checked]="offer.productOfferStatus === 'Active'" (change)="toggleOfferStatus(offer)">
                    </div>
                    <button (click)="addOrEditOffer(productModal, offer)" class="btn btn-light mx-2"  title="Edit Product Offer">
                        <i class='bx bxs-edit-alt'></i>
                    </button>
                    <button (click)="deleteOffer(offer._id, offer.productOfferDescription)" class="btn btn-danger btn-sm" title="Delete Product Offer">
                        <i class="bx bx-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-mt shadow-sm mb-3" *ngIf="productOffers.length === 0">
        <p>No Product Offers Found. Please add some.</p>
    </div>
</div>

<div class="container-fluid my-4">
    <!-- Pagination Controls -->
    <div class="row">
      <div class="col-sm-12 text-right">
        <div class="d-flex justify-content-end">
          <!-- Page Size Selector -->
          <select [(ngModel)]="limit" (change)="handleLimitChange()" class="form-select mx-2" style="width:100px; margin-bottom: 16px">
            <option *ngFor="let limitOption of limitOptions" [value]="limitOption">{{ limitOption }}</option>
          </select>
  
          <ngb-pagination class="mx-2"
          [(page)]="productOffersQuery.page"
          [pageSize]="productOffersQuery.limit"
          [collectionSize]="totalProductOffers"
          [boundaryLinks]="true"
          (pageChange)="handlePageChange($event)"
          [maxSize]="5">
</ngb-pagination>
        </div>
      </div>
    </div>
  </div>
  


    <ng-template #productModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{ currentOffer._id? 'Edit' : 'Add' }} Product Offer</h4>
        </div>
        <div class="modal-body">
            <form #productOfferForm="ngForm" class="modal-box shadow-sm">
                <!-- Add/Edit Product Offer Name -->
                <div class="row">
                    <!-- <div class="col-sm-4 mb-3 form-group">
                        <label class="form-label" for="addName">Offer Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="addName" [(ngModel)]="currentOffer.productOfferTitle" name="addName"
                            required placeholder="Enter full name" #addNameInput="ngModel"/>
                        <div *ngIf="submitted && addNameInput.invalid" class="text-danger">
                            <div *ngIf="addNameInput.errors?.['required']">Offer Name is required.</div>
                        </div>
                    </div> -->

                    <div class="col-sm-5 mb-3 form-group">
                        <label class="form-label" for="validUntil">Valid Until <span class="text-danger">*</span></label>
                        <div class="input-group mb-3">
                            <input id="validUntil" class="form-control" readonly placeholder="yyyy-mm-dd" name="validUntil"
                                [(ngModel)]="currentOffer.validUntil" required ngbDatepicker #validUntil="ngbDatepicker" #validUntilInput="ngModel"/>
                            <button class="btn btn-outline-secondary bx bx-calendar" type="button" (click)="validUntil.toggle()"></button>
                        </div>
                        <div *ngIf="validUntilInput.invalid && (validUntilInput.dirty || validUntilInput.touched)" class="text-danger">
                            <div *ngIf="validUntilInput.errors?.['required']">Valid Until is required.</div>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-3 form-group" style="margin-left: 50px;">
                        <label class="form-label" for="productOfferStatus"> Status <span class="text-danger">*</span> </label>
                        <div class="form-check form-switch form-check-lg form-switch-2x">
                        <input
                            class="form-check-input"
                            id="productOfferStatus"
                            type="checkbox"
                            name="productOfferStatus"
                            [checked]="currentOffer.productOfferStatus === 'Active'"
                            (change)="statusChanged($event)"
                        />
                        </div>
                    </div>                  
                </div>

                <!-- Add/Edit Product Offer Description -->
                <div class="row">
                    <div class="col-sm-12 mb-3 form-group">
                        <label class="form-label" for="addDescription">Offer Text <span class="text-danger">*</span></label>
                        <textarea type="text" class="form-control" id="addDescription" [(ngModel)]="currentOffer.productOfferDescription" name="addDescription"
                            required placeholder="Enter description" #addDescriptionInput="ngModel"></textarea>
                        <div *ngIf="addDescriptionInput.invalid && (addDescriptionInput.dirty || addDescriptionInput.touched)" class="text-danger">
                            <div *ngIf="addDescriptionInput.errors?.['required']">Offer Text is required.</div>
                        </div>
                    </div>
                </div>

                <!-- Cashback -->
                <div class="row">
                    <div class="col-sm-6 mb-3 form-group">
                        <label class="form-label" for="addCashback">Cashback<span class="text-danger">*</span></label>
                        <input type="number" class="form-control" id="addCashback" [(ngModel)]="currentOffer.cashback" name="addCashback"
                            required placeholder="Enter cashback" #cashbackInput="ngModel"/>
                            <div *ngIf="cashbackInput.invalid && (cashbackInput.dirty || cashbackInput.touched)" class="text-danger">
                                <div *ngIf="cashbackInput.errors?.['required']">Cashback is required.</div>
                        </div>
                    </div>

                    <!-- Redeem Points -->
                    <div class="col-sm-6 mb-3 form-group">
                        <label class="form-label" for="addRedeemPoints">Redeem Points <span class="text-danger">*</span></label>
                        <input type="number" class="form-control" id="addRedeemPoints" [(ngModel)]="currentOffer.redeemPoints" name="addRedeemPoints"
                            required placeholder="Enter redeem points" #redeemPointsInput="ngModel"/>
                            <div *ngIf="redeemPointsInput.invalid && (redeemPointsInput.dirty || redeemPointsInput.touched)" class="text-danger">
                                <div *ngIf="redeemPointsInput.errors?.['required']">Redeem Points is required.</div>
                        </div>
                    </div>
                </div>

                <!-- Add/Edit Product Offer Image -->
                <div class="row">
                    <div class="col-sm-12 mb-3 form-group">
                        <label class="form-label" for="addImage">Upload Image <span class="text-danger">*</span></label>
                        <div class="input-group mb-2">
                            <input
                            type="file"
                            class="form-control"
                            id="addImage"
                            (change)="handleImageChange($event)"
                            [required]="!currentOffer._id" 
                            accept=".png, .jpg, .jpeg"
                            name="addImage"
                            #addImageRef="ngModel"
                            [(ngModel)]="currentOffer.productOfferImage"
                          />
                        </div>
                        <div *ngIf="addImageRef.invalid && (addImageRef.dirty || addImageRef.touched)" class="text-danger">
                            <div>Image is required.</div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row bd-highlight mb-3">
                    <div class="image-card mx-3" *ngIf="currentOffer.productOfferImage" [style.max-width]="uploadImageWidth">
                        <span *ngIf="uploadImageWidth === '20%'" (click)="uploadImageWidth = uploadImageWidth === '20%' ? '100%' : '20%'"><i class="bx bx-expand"></i></span>
                        <span *ngIf="uploadImageWidth !== '20%'" (click)="uploadImageWidth = uploadImageWidth === '20%' ? '100%' : '20%'"><i class='bx bx-collapse' ></i></span>
        <!--                    <i class="bx bx-x bx-sm" style="position: absolute; right: 0;"></i>-->
                        <img *ngIf="currentOffer.productOfferImage" [src]="currentOffer.productOfferImage"
                            alt="Product Offer Image" width="100%"
                            (click)="uploadImageWidth = uploadImageWidth === '20%' ? '100%' : '20%'"/>
                    </div>
                <!-- Show existing image only if no new image is selected -->
                    <div class="image-card mx-3" *ngIf="currentOffer.productOfferImageUrl && !currentOffer.productOfferImage" [style.max-width]="imageWidth">
                        <span *ngIf="imageWidth === '20%'" (click)="imageWidth = imageWidth === '20%' ? '100%' : '20%'"><i class="bx bx-expand"></i></span>
                        <span *ngIf="imageWidth !== '20%'" (click)="imageWidth = imageWidth === '20%' ? '100%' : '20%'"><i class='bx bx-collapse' ></i></span>
        <!--                    <i class="bx bx-x bx-sm" style="position: absolute; right: 0;"></i>-->
                        <img *ngIf="currentOffer.productOfferImageUrl" [src]="currentOffer.productOfferImageUrl"
                            alt="Product Offer Image"  width="100%"
                            (click)="imageWidth = imageWidth === '20%' ? '100%' : '20%'"/>
                    </div>
                </div>

                <div *ngFor="let price of priceList; let i = index" class="d-flex align-items-center mb-2">
                   <!-- ng-select Dropdown for State, Zone, or District Selection -->
  <div class="me-2" style="width: 200px">
    <ng-select
      [items]="groupedDropdownData"
      bindLabel="label"
      bindValue="id"
      groupBy="group"
      [(ngModel)]="price.selectedKey"
      name="stateOrZone{{ i }}"
      placeholder="Select State/Zone/District"
      [clearable]="false"
      [searchable]="true"
      [dropdownPosition]="'auto'"
    >
    </ng-select>
  </div>
                
                    <!-- Dash Symbol Between Dropdown and Price Input -->
                    <span class="mx-2">-</span>
                
                    <!-- Text Field for Price -->
                    <div class="input-group me-2" style="width: 150px;">
                    <input
                        type="number"
                        class="form-control"
                        [(ngModel)]="price.price"
                        name="price{{ i }}"
                        required
                        placeholder="Enter price"
                    />
                    </div>
                
                    <!-- Add Button Only for Last Row -->
                     <div class="ms-2">
                    <button
                    *ngIf="i === priceList.length - 1"
                    class="btn btn-outline-primary"
                    type="button"
                    (click)="addPrice()"
                    >
                    +
                    </button>
                    </div>
                </div>
                
    
                <div class="row" *ngIf="errorArray.length > 0">
                    <div class="col-sm-12">
                        <ul>
                            <li *ngFor="let err of errorArray; let i = index" class="text-danger">{{err}}</li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
            <button type="button" class="btn btn-primary" (click)="saveOffer(modal)" >Save</button>
        </div>
    </ng-template>
