
  /* Button Styling */
  /*button {*/
  /*  margin: 5px; !* Add space between buttons *!*/
  /*}*/

  /* Style for the switch toggle button */
.switch {
  position: relative;
  display: inline-block;
  width: 40px; /* Reduced width */
  height: 24px; /* Reduced height */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px; 
  width: 18px;  
  border-radius: 50%;
  left: 3px; 
  bottom: 3px; 
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(16px); 
}
