<div clss="container-fluid container-mt shadow-sm">
    <div class="row">
        <div class="col-sm-12 mb-4">
            <h3>Welcome back, {{currentUser.fullName}}</h3>
        </div>
    </div>
    <div class="row" *ngIf="currentUser.accountType === 'Super User'">
        <div class="col-sm-3">
            <div class="card shadow-sm mb-3">
                <div class="card-header">Total Redeemable Points</div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="d-flex justify-content-center">
                            <img src="/assets/img/badge.png" class="img-fluid rounded-start img-fluid-cus" alt="...">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <h1 class="card-title">{{userDashboardData?.totalRedeemablePoints || 0}}</h1>
                        </div>
                    </div>
                </div>
                <div class="card-footer">Total Redeemable Points Confirmation</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card shadow-sm mb-3">
                <div class="card-header">Total Cash</div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="d-flex justify-content-center">
                            <img src="/assets/img/india-rupee.png" class="img-fluid rounded-start img-fluid-cus" alt="...">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <h1 class="card-title">{{userDashboardData?.totalValue || 0}}</h1>
                        </div>
                    </div>
                </div>
                <div class="card-footer">Total Cash Confirmation</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card shadow-sm mb-3">
                <div class="card-header">Total Redeemed Points</div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="d-flex justify-content-center">
                            <img src="/assets/img/reward.png" class="img-fluid rounded-start img-fluid-cus" alt="...">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <h1 class="card-title">{{userDashboardData?.userTotalRewards || 0}}</h1>
                        </div>
                    </div>
                </div>
                <div class="card-footer">Total Redeemed Points Confirmation</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card shadow-sm mb-3">
                <div class="card-header">Total Earned Cash Reward</div>
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="d-flex justify-content-center">
                            <img src="/assets/img/rupee.png" class="img-fluid rounded-start img-fluid-cus" alt="...">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <h1 class="card-title">{{userDashboardData?.userTotalCash || 0}}</h1>
                        </div>
                    </div>
                </div>
                <div class="card-footer">Total Earned Cash Reward Confirmation</div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="currentUser.accountType !== 'Super User'">
        <div class="col-sm-3 mb-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card shadow-sm mb-3">
                        <div class="card-header">Redeemed Points</div>
                        <div class="row g-0">
                            <div class="col-md-4">
                                <div class="d-flex justify-content-center">
                                    <img src="/assets/img/reward.png" class="img-fluid rounded-start img-fluid-cus" alt="...">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <h1 class="card-title">{{userDashboardData?.userTotalRewards || 0}}</h1>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">Redeemed Points Confirmation</div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="card shadow-sm mb-3">
                        <div class="card-header">Earned Cash Reward</div>
                        <div class="row g-0">
                            <div class="col-md-4">
                                <div class="d-flex justify-content-center">
                                    <img src="/assets/img/rupee.png" class="img-fluid rounded-start img-fluid-cus" alt="...">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <h1 class="card-title">{{userDashboardData?.userTotalCash || 0}}</h1>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">Earned Cash Reward Confirmation</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-12">
                    <div class="container container-mt shadow-sm mb-3" style="max-height: 50vh;overflow: auto">
                        <h5 style="background-color: rgba(255, 255, 255, 0);">Transactions</h5>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">S.NO</th>
                                    <th>Coupon Code</th>
                                    <th>Batch</th>
                                    <th>Points</th>
                                    <th>Cash</th>
                                    <th>Is Redeemed</th>
                                    <th>Created At</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of userDashboardData?.userTotalRedeemablePointsList; let i = index">
                                    <td>{{ i + 1 }}</td> <!-- Serial Number Calculation -->
                                    <td>{{ item.couponCode }}</td>
                                    <td>{{ item.batchName }} - {{ item.batchNumber }}</td>
                                    <td>{{ item.redeemablePoints }}</td>
                                    <td>{{ item.value }}</td>
                                    <td>{{ item.isProcessed ? 'Yes' : 'No' }}</td>
                                    <td>{{ item.createdAt | date }}</td>
                                </tr>
                                <tr *ngIf="userDashboardData?.userTotalRedeemablePointsList === 0">
                                    <td class="text-center" colspan="9">No Records found</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>