<!-- Navbar (below the sidebar) -->
<nav class="navbar shadow-sm fixed-top" style="height: 65px;">
    <div class="d-flex align-items-center">
        <!-- Logo before the toggle button -->
        <div class="navbar-brand">
            <img src="assets/img/app_logo.png" alt="Logo" style="height: 40px;"> 
        </div>

        <!-- Sidebar Toggle Button -->
        <button class="sidebar-toggle-btn navbar-toggler" (click)="toggleSidebar()" style="border: none; background: transparent;">
            <i class="bx" [ngClass]="isSidebarCollapsed ? 'bx-menu' : 'bx-x'" style="font-size: 30px; color: white"></i>
        </button>
    </div>
</nav>

<div class="dashboard-container">
    <!-- Sidebar (above the navbar) -->
    <div class="sidebar" [ngClass]="{ 'collapsed': isSidebarCollapsed, 'expanded': !isSidebarCollapsed }">
        <ul class="nav flex-column">

            <!-- User List (New Item) -->
         <li class="nav-item" (click)="navigateTo('/dashboard/user-list')">
            <i class="bx bx-user-circle" style="font-size: 30px;"></i> 
            <span *ngIf="!isSidebarCollapsed">Users</span>
        </li>

            <!-- Dashboard List -->
            <li class="nav-item" (click)="navigateTo('/dashboard/list')">
                <i class="bx bx-list-ul px-2" style="font-size: 30px;"></i>
                <span *ngIf="!isSidebarCollapsed">List</span>
            </li>

            <!-- Transactions -->
            <li class="nav-item" (click)="navigateTo('/dashboard/transactions')">
                <i class="bx bx-transfer px-2" style="font-size: 30px;"></i>
                <span *ngIf="!isSidebarCollapsed">Transactions</span>
            </li>

            <!-- Product List (new item) -->
            <li class="nav-item" (click)="navigateTo('/dashboard/product-list')">
                <i class="bx bx-label" style="font-size: 30px;"></i>
                <span *ngIf="!isSidebarCollapsed">Product</span>
            </li>
        </ul>

         <!-- Brand List (New Item) -->
         <li class="nav-item" (click)="navigateTo('/dashboard/brand-list')">
            <i class="bx bx-tag" style="font-size: 30px;"></i>
            <span *ngIf="!isSidebarCollapsed">Brand</span>
        </li>


        <!-- Sidebar Footer -->
        <div class="sidebar-footer" (click)="logout()">
            <div class="sidebar-link">
                <i class="bx bx-log-out px-2"></i><span *ngIf="!isSidebarCollapsed">Logout</span>
            </div>
        </div>
    </div>

    <!-- Main Content Area (includes navbar and router outlet) -->
    <main class="content" [ngClass]="{ 'collapsed': isSidebarCollapsed }">
       
        <router-outlet></router-outlet>
    </main>
</div>
