<!-- Main content -->
<div class="container-fluid container-mt shadow-sm">
    <div class="row mb-4 d-flex justify-content-between align-items-center">

        <!-- Left side: Coupons label and Sales Executive dropdown -->
        <div class="col-md-4 d-flex align-items-center">
            <!-- Coupons Label -->
            <h4 class="mb-0 me-2">Coupons</h4>

            <!-- Sales Executive dropdown -->
            <div class="form-group ms-auto">
                <select 
                    class="form-select" 
                    id="salesExecutive" 
                    [(ngModel)]="selectedSalesExecutive"
                    (change)="getAllTransactions()">
                    <option value="">Select Sales Executive</option>
                    <option *ngFor="let exec of salesExecutives" [value]="exec.mobile">
                        {{ exec.name }} ({{ exec.mobile }})
                    </option>
                </select>
            </div>
        </div>

        <!-- Right side: Search, Reset, Show Used Coupons checkbox, Filter, and Export buttons -->
        <div class="col-md-8 d-flex justify-content-end align-items-center">
            <!-- Show Used Coupons checkbox -->
            <div class="form-check form-check-inline ms-3">
                <input 
                    type="checkbox" 
                    id="showUsedCoupons" 
                    [(ngModel)]="showUsedCoupons" 
                    (change)="getAllTransactions()" 
                    class="form-check-input"
                />
                <label for="showUsedCoupons" class="form-check-label">Show Used Coupons</label>
            </div>

            <!-- Search Input -->
            <div class="search-container ms-3">
                <input 
                    [(ngModel)]="searchQuery" 
                    (input)="getAllTransactions()" 
                    placeholder="Search" 
                    class="form-control" 
                    style="width: 200px;" />
            </div>

            <!-- Reset Button -->
            <div class="ms-3">
                <button (click)="onReset()" class="btn btn-primary">Reset</button>
            </div>

            <!-- Filter Button -->
            <div class="ms-3">
                <button class="btn btn-light" (click)="openFilterModal()" style="background-color:#c1c1c1;">
                    <i class="bx bx-filter px-2"></i> 
                </button>
            </div>

            <!-- Export Button -->
            <!-- Export Button -->
             <div class="ms-3">
                <button class="btn btn-success btn-sm" (click)="exportToExcel()">
                    <img src="\assets\Download_icon.png" alt="Download" 
                    style="width: 20px; margin-right: 5px; filter: invert(1);"/>
                    Export
                </button>
            </div>
        </div>
    </div>





    <div class="row">
        <!-- Table Wrapper -->
        <div class="col-12 table-wrapper">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">S.NO</th>
                    <th>Coupon Code</th>
                    <th>Batch</th>
                    <th>Points</th>
                    <th>Value</th>
                    <th>PointsRedeemedBy</th>
                    <th>CashRedeemedBy</th>
                    <th>QR Code</th>
                    <th>Created At</th>
                    <th>Created By</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of transactions; let i = index">
                    <td>{{ (currentPage - 1) * limit + (i + 1) }}</td> <!-- Serial Number Calculation -->
                    <td>{{ item.couponCode }}</td>
                    <td>{{ item.branchName }} - {{ item.batchNumber }}</td>
                    <td>{{ item.redeemablePoints }}</td>
                    <td>{{ item.value }}</td>
                    <td>{{ item.pointsRedeemedBy || 'NA'}}</td>
                    <td>{{ item.cashRedeemedBy || 'NA'}}</td>
                    <td>
                        <button class="btn btn-light btn-lg" (click)="setQrUrl(item.qr_code)">
                            <i class="bx bx-qr" 
                               [ngStyle]="{ 'color': (item.pointsRedeemedBy && item.cashRedeemedBy) ? 'red' : '' }">
                            </i>
                        </button>
                    </td>
                    <td>{{ item.createdAt | date }}</td>
                    <td>{{ item.createdByName }}</td>
                </tr>
                <tr *ngIf="transactions.length === 0">
                    <td class="text-center" colspan="9">No Records found</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-sm-12 text-right">
              <div class="d-flex justify-content-end">
                <!-- Limit Dropdown -->
                <select [(ngModel)]="limit" (change)="handleLimitChange()" class="form-select mx-2" style="width:100px; margin-bottom: 16px">
                  <option *ngFor="let limitOption of limitOptions" [value]="limitOption">{{ limitOption }}</option>
                </select>
                
                <!-- Pagination Controls -->
                <ngb-pagination
                  class="mx-2"
                  [(page)]="currentPage"
                  [pageSize]="limit"
                  [collectionSize]="totalPages * limit" 
                  [boundaryLinks]="true"
                  (pageChange)="handlePageChange($event)"
                  [maxSize]="5">
                </ngb-pagination>
              </div>
            </div>
          </div>
          
<!-- Update Branch Modal -->
<div class="modal" tabindex="-1" [ngClass]="{ 'show': showUpdateModal }" style="display: block; margin-top: 100px;"
     *ngIf="showUpdateModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-between">
                <h5 class="modal-title">QR Code</h5>
                <button type="button" class="btn-close" (click)="closeUpdateModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img ngSrc="{{qrUrl}}" width="400" height="400">
            </div>
        </div>
    </div>
</div>

<!-- Filter Modal -->
<div class="modal fade" tabindex="-1" [ngClass]="{ 'show': showFilterModal }" style="display: block; margin-top: 120px;" *ngIf="showFilterModal">
    <div class="modal-dialog modal-dialog-end modal-dialog-right">
        <div class="modal-content" style="height: 370px;"> <!-- Increased height -->
            <div class="modal-header justify-content-between">
                <h5 class="modal-title" id="exampleModalLabel">Apply Filters</h5>
                <button type="button" class="btn-close" (click)="closeFilterModal()" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: #ffff;"> <!-- Custom background color -->
                <form>
                    <div class="form-group mb-3">
                        <!-- <label for="couponCode"></label> -->
                        <input type="text" id="couponCode" class="form-control" [(ngModel)]="filterCouponCode" name="couponCode" placeholder="Coupon Code">
                    </div>

                    <div class="form-group mb-3">
                        <!-- <label for="pointsRedeemedBy"></label> -->
                        <input type="text" id="pointsRedeemedBy" class="form-control" [(ngModel)]="filterPointsRedeemedBy" name="pointsRedeemedBy" placeholder="Points Redeemed By">
                    </div>

                    <div class="form-group mb-3">
                        <!-- <label for="cashRedeemedBy"></label> -->
                        <input type="text" id="cashRedeemedBy" class="form-control" [(ngModel)]="filterCashRedeemedBy" name="cashRedeemedBy" placeholder="Cash Redeemed By">
                    </div>
                </form>
                <!-- Button 2 (Apply Filters Button) in another row -->
                <button type="button" class="btn btn-primary w-100 mt-3" (click)="applyFilters()">Apply Filters</button>
                <!-- Button 1 (Close Button) in one row -->
                <button type="button" class="btn btn-secondary w-100 mt-3" (click)="closeFilterModal()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100">
    <div
        class="toast align-items-center text-white bg-danger border-0"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        [ngClass]="{ 'show': showToast }"
        style="opacity: 1;"
    >
        <div class="d-flex">
            <div class="toast-body">
                {{ toastMessage }}
            </div>
            <button
                type="button"
                class="btn-close btn-close-white me-2 m-auto"
                aria-label="Close"
                (click)="hideToast()"
            ></button>
        </div>
    </div>
</div>
</div>
