<!-- Main content -->
<div class="container-fluid" style="padding: 20px">
    <div style="margin-top: -20px;">
        <h4>Branches List</h4>

        <!-- Table Wrapper -->
        <div class="table-wrapper">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>S.NO</th>
                    <td>Transaction Id</td>
                    >td
                    <td>Is Processed</td>
                    <td>QR Code</td>
                    <td>Created At</td>
                    <td>Updated At</td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of transactions; let i = index">
                    <td>{{ (currentPage - 1) * limit + (i + 1) }}</td> <!-- Serial Number Calculation -->
                    <td>{{ item.transactionId }}</td>
                    <td>{{ item.isProcessed }}</td>
                    <td>
                        <button (click)="setQrUrl(item.qr_code)">QR</button>
                    </td>
                    <td>{{ item.createdAt | date }}</td>
                    <td>{{ item.updatedAt | date }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Pagination Controls -->
        <div class="pagination-controls" style="display: flex; justify-content: flex-end; align-items: center;">
            <button (click)="prevPage()" [disabled]="currentPage === 1" class="btn btn-secondary"
                    style="background-color:#dc3545">Previous
            </button>
            <span style="margin: 0 10px;">Page {{ currentPage }} of {{ totalPages }}</span>
            <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="btn btn-secondary"
                    style="background-color:#1179ef;">Next
            </button>
        </div>

    </div>
</div>

<!-- Update Branch Modal -->
<div class="modal" tabindex="-1" [ngClass]="{ 'show': showUpdateModal }" style="display: block; margin-top: 120px;"
     *ngIf="showUpdateModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-between">
                <h5 class="modal-title">QR Code</h5>
                <button type="button" class="close" (click)="closeUpdateModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img ngSrc="{{qrUrl}}" width="150" height="150">
            </div>
        </div>
    </div>
</div>
