/* You can add global styles to this file, and also import other style files */
/*@import "node_modules/@ng-select/ng-select/themes/default.theme.css";*/
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";

html, body { height: 90vh; }
body { margin: 0; background-color: #f6f9fa!important }

.btn-aultra-paints {
    background-color: #2C3E50 !important;
    border-color: #2C3E50 !important;
    color: white;
    font-weight: 600;
    border-radius: 4px;
}

.btn-aultra-paints:hover {
    background-color: #212529 !important;
}

.btn-aultra-paints:focus {
    background-color: #212529;
    outline: none;
}

.container-mt {
    /*margin-top: 80px;*/
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.loader-wrapper{
    position: fixed;
    top: 0;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 24%);
    z-index: 1000000;
    display: flex;
    justify-content: space-around;
}

.table th {
    border-top: 1px solid #dee2e6;
}

.table td, .table th {
    vertical-align: middle;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-pointer:hover {
    font-size: 18px;
    font-weight: 900;
}

/*.form-label {*/
/*    font-size: 14px;*/
/*}*/

.page-link {
    color: #2C3E50;
}

.active > .page-link, .page-link.active {
    background-color: #2C3E50;
    border-color: #2C3E50;
}

.page-link:hover {
    background-color: #19232c;
    border-color: #19232c;
}

.modal-body {
    background-color: #f6f9fa;
}

.modal-body .modal-box {
    padding: 20px;
    border-radius: 8px;
    background-color: white;
}

.card {
    border: none!important;
    color: #737373;
}

.card .img-fluid-cus {
    padding: 12px !important;
    height: 80px;
    width: 80px;
}

.card .card-body {
    text-align: center;
    height: 100%;
    color: black !important;
}

.card .card-header {
    border: none;
    font-size: 1rem !important;
}

.card .card-footer {
    font-size: .8rem!important;
}

.card .card-header, .card .card-footer {

    background-color: rgba(255, 255, 255, 0);
}

/*.card .card-body {*/
/*    display: flex;*/
/*}*/

/* toggle.component.css */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}


.image-card {
    position: relative;
}

.image-card span {
    position: absolute;
    right: 0;
    line-height: 24px;
    transition: 0.3s;
    cursor: pointer;
    font-size: 25px;
    background-color: #ddd;
}

.image-card span:hover {
    font-size: 30px;
}

.product-offers-card {
    width: 230px;
    height: 420px;
}

.product-offers-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    border-top: 1px solid #ddd;
}

.product-offers-card img {
    width: 100%;
    height: auto;
    padding: 1.5rem;
}

.product-offers-card .card-body .card-text {
    font-size: .8rem!important;
    margin-bottom: 0.5rem!important;

}

.reward-schemes-card {
    width: 230px;
    height: 300px;
}

.reward-schemes-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    border-top: 1px solid #ddd;
}

.reward-schemes-card img {
    width: 100%;
    height: auto;
    padding: 1.5rem;
}

.reward-schemes-card .card-body .card-text {
    font-size: .8rem!important;
    margin-bottom: 0.5rem!important;

}