<!-- Main content -->
<div class="container-fluid container-mt shadow-sm">
    <div class="row mb-4">
        <div class="col-sm-2"><h4>Batches</h4></div>
        <div class="col-sm-10">
            <div class="d-flex justify-content-end align-items-center">
                <div class="mx-3">
                    <input type="text" [(ngModel)]="searchQuery" (input)="loadBranches()" placeholder="Search..." class="form-control "/>
                </div>
                <button (click)="onCreateBatch()" class="btn btn-primary">Create Batch</button>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Table Wrapper -->
        <div class="col-12 table-wrapper">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>S.NO</th>
                    <th>Batch Number</th>
                    <th>Branch</th>
                    <th>Product Name</th>
                    <th>Brand</th>
                    <th>CouponSeries</th>
                    <th>Reward Points</th>
                    <th>Value</th>
                    <th>Volume</th>
                    <th>Quantity</th>
                    <th>Creation Date</th>
                    <th>Expiry Date</th>
                    <!-- <th>Actions</th> -->
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let branch of branches; let i = index">
                    <td>{{ (currentPage - 1) * limit + (i + 1) }}</td> <!-- Serial Number Calculation -->
                    <td>{{ branch.BatchNumber }}</td>
                    <td>{{ branch.Branch }}</td>
                    <td>{{ branch.ProductNameStr || 'NA' }}</td>
                    <td>{{ branch.BrandName || 'NA' }}</td>
                    <td style="width: 200px; word-wrap: break-word;">
                        {{ (branch.startCouponSeries && branch.endCouponSeries) ? branch.startCouponSeries + ' - ' + branch.endCouponSeries : 'NA' }}
                      </td>                      
                    <td>{{ branch.RedeemablePoints }}</td>
                    <td>{{ branch.value }}</td>
                    <td>{{ branch.Volume }}</td>
                    <td>{{ branch.Quantity }}</td>
                    <td>{{ branch.CreationDate | date:'shortDate' }}</td>
                    <td>{{ branch.ExpiryDate | date:'shortDate' }}</td>
                    <td>
                        <!-- <button (click)="onUpdate(branch)" class="btn btn-warning mx-2" title="Update Batch">
                            <i class="bx bx-edit"></i>  
                        </button> -->
                        <!-- <button (click)="onDelete(branch._id)" class="btn btn-danger mx-2" title="Delete Batch">
                            <i class="bx bx-trash"></i>
                        </button> -->
                    </td>
                </tr>
                <tr *ngIf="branches.length === 0"><td class="text-center" colspan="13">No Records found</td></tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
              <div class="d-flex justify-content-end">
                <select [(ngModel)]="limit" (change)="handleLimitChange()" class="form-select mx-2" style="width:100px; margin-bottom: 16px">
                  <option *ngFor="let limitOption of limitOptions" [value]="limitOption">{{ limitOption }}</option>
                </select>
          
                <!-- Pagination Controls -->
                <ngb-pagination class="mx-2"
                                [(page)]="currentPage"
                                [pageSize]="limit"
                                [collectionSize]="totalBranches"
                                [boundaryLinks]="true"
                                (pageChange)="handlePageChange($event)"
                                [maxSize]="5">
                </ngb-pagination>
              </div>
            </div>
          </div>
          
  
<!-- Update Branch Modal -->
<!-- <div class="modal fade" tabindex="-1" [ngClass]="{ 'show': showUpdateModal }" style="display: block;" *ngIf="showUpdateModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Branch</h5>
            </div>
            <div class="modal-body">
                <form #updateForm="ngForm" (ngSubmit)="onUpdateSubmit(updateForm)">
                    <div class="row">
                        <div class="col-sm-6 form-group mb-4">
                            <label for="branchName">Branch <span class="text-danger">*</span></label>
                            <input type="text" id="branchName" [(ngModel)]="selectedBranch.Branch" name="Branch" class="form-control" required #branchName="ngModel">
                            <div *ngIf="branchName.invalid && (branchName.dirty || branchName.touched)" class="text-danger">
                                <div *ngIf="branchName.errors?.['required']">Branch is required.</div>
                            </div>
                        </div>
                        <div class="col-sm-6 form-group mb-4">
                            <label for="productName">Product Name <span class="text-danger">*</span></label>
                            <ng-select
                                    name="ProductName"
                                    [items]="products"
                                    [(ngModel)]="selectedBranch.ProductName"
                                    [multiple]="false"
                                    bindLabel="name"
                                    bindValue="_id"
                                    placeholder="Select options"
                                    (ngModelChange)="getBrandes()"
                                    [searchable]="true"
                                    required #productName="ngModel">
                            </ng-select>
                            <div *ngIf="productName.invalid && (productName.dirty || productName.touched)" class="text-danger">
                                <div *ngIf="productName.errors?.['required']">Product Name is required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 form-group mb-4">
                            <label for="creationDate">Creation Date <span class="text-danger">*</span></label>
                            <input type="date" id="creationDate" [(ngModel)]="selectedBranch.CreationDate"
                                   name="CreationDate" class="form-control" required #creationDate="ngModel">
                            <div *ngIf="creationDate.invalid && (creationDate.dirty || creationDate.touched)" class="text-danger">
                                <div *ngIf="creationDate.errors?.['required']">Creation Date is required.</div>
                            </div>
                        </div>
                        <div class="col-sm-6 form-group mb-4">
                            <label for="expiryDate">Expiry Date <span class="text-danger">*</span></label>
                            <input type="date" id="expiryDate" [(ngModel)]="selectedBranch.ExpiryDate"
                                   name="ExpiryDate" class="form-control" required #expiryDate="ngModel">
                            <div *ngIf="expiryDate.invalid && (expiryDate.dirty || expiryDate.touched)" class="text-danger">
                                <div *ngIf="expiryDate.errors?.['required']">Expiry Date is required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 form-group mb-4">
                            <label for="batchNumber">Batch Number <span class="text-danger">*</span></label>
                            <input type="text" id="batchNumber" [(ngModel)]="selectedBranch.BatchNumber"
                                   name="BatchNumber" class="form-control" required #batchNumber="ngModel">
                            <div *ngIf="batchNumber.invalid && (batchNumber.dirty || batchNumber.touched)" class="text-danger">
                                <div *ngIf="batchNumber.errors?.['required']">Batch Number is required.</div>
                            </div>
                        </div>
                        <div class="col-sm-6 form-group mb-4">
                            <label for="Brand">Brand <span class="text-danger">*</span></label>
                            <ng-select
                                    name="Brand"
                                    [items]="brandData"
                                    [(ngModel)]="selectedBranch.Brand"
                                    [multiple]="false"
                                    bindLabel="brands"
                                    bindValue="_id"
                                    placeholder="Select options"
                                    [searchable]="true"
                                    required #brand="ngModel">
                            </ng-select>
                            <div *ngIf="brand.invalid && (brand.dirty || brand.touched)" class="text-danger">
                                <div *ngIf="brand.errors?.['required']">Brand is required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2 form-group mb-4">
                            <label for="redeemablePoints">Points <span class="text-danger">*</span></label>
                            <input type="number" id="redeemablePoints" [(ngModel)]="selectedBranch.RedeemablePoints"
                                   name="redeemablePoints" required class="form-control" #redeemablePoints="ngModel">
                            <div *ngIf="redeemablePoints.invalid && (redeemablePoints.dirty || redeemablePoints.touched)" class="text-danger">
                                <div *ngIf="redeemablePoints.errors?.['required']">Points are required.</div>
                            </div>
                        </div>
                        <div class="col-sm-2 form-group mb-4">
                            <label for="value">Value <span class="text-danger">*</span></label>
                            <input type="number" id="value" [(ngModel)]="selectedBranch.value" name="value"
                                   required class="form-control" #value="ngModel">
                            <div *ngIf="value.invalid && (value.dirty || value.touched)" class="text-danger">
                                <div *ngIf="value.errors?.['required']">Value is required.</div>
                            </div>
                        </div>
                        <div class="col-sm-2 form-group mb-4">
                            <label for="volume">Volume <span class="text-danger">*</span></label>
                            <select id="volume" [(ngModel)]="selectedBranch.Volume" name="volume" required
                                    class="form-select" #volume="ngModel">
                                <option value="" selected>Select Volume</option>
                                <option *ngFor="let volume of volumes" [value]="volume">{{ volume }}</option>
                            </select>
                            <div *ngIf="volume.invalid && (volume.dirty || volume.touched)" class="text-danger">
                                <div *ngIf="volume.errors?.['required']">Volume is required.</div>
                            </div>
                        </div>
                        <div class="col-sm-3 form-group mb-4">
                            <label for="couponSeries">Coupon Series <span class="text-danger">*</span></label>
                            <input type="text" id="couponSeries" [(ngModel)]="selectedBranch.CouponSeries"
                                   name="couponSeries" placeholder="Enter Coupon Series" required class="form-control"
                                   #couponSeries="ngModel">
                            <div *ngIf="couponSeries.invalid && (couponSeries.dirty || couponSeries.touched)" class="text-danger">
                                <div *ngIf="couponSeries.errors?.['required']">Coupon Series is required.</div>
                            </div>
                        </div>
                        <div class="col-sm-2 form-group mb-4">
                            <label for="quantity">Quantity <span class="text-danger">*</span></label>
                            <input type="number" id="quantity" [(ngModel)]="selectedBranch.Quantity" name="Quantity"
                                   class="form-control" required #quantity="ngModel">
                            <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="text-danger">
                                <div *ngIf="quantity.errors?.['required']">Quantity is required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        <button type="button" class="btn btn-secondary" (click)="closeUpdateModal()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->
